* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;
 }
 :root{
   --primary-color: #4a6cf7;
 }
 
 html{
   font-size: 10px;
 }
 body{
   background-color: #f5f7fa;
 }

 header {
    width: 100%;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    padding: 2rem 10rem;
    font-size: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem #b5aeae2d;
 }
header h2 {
    font-size: 2.8rem;
    font-weight: 700;
    word-spacing: -1rem;
}
 h2 span.style {
    color: var(--primary-color);
   
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40rem;
 }

 header nav div.links {
   font-weight: 500;
   font-size: 1.7rem;
 }
 header nav div.links ul{
  display: flex;
  gap: 30px;
  
 }
 header nav div.links ul li a{
   transition: .4s;
   color: #000000;
 }
 header nav div.links ul li a:hover{
   color: var(--primary-color);
 }
 
 header nav ul.icons {
    display: flex;
    gap: 2rem;
 }
 header nav ul.icons li.num{
   position: relative;
 }
 /* the color is on html svg */
 header nav ul.icons li svg{

   transition: .4s;
 }
 header nav ul.icons li svg:hover{
   color: var(--primary-color) !important; }

 header nav ul.icons div.child{
   position: absolute;
   height: 1.5rem;
   width: 1.5rem;
   border-radius: 50%;
   background-color: #ff0000;
   color: #ffffff;
   top: -0.6rem;
    right: -0.6rem;
    text-align: center;
    font-size: 1rem;
 }
 section.collection{
   padding: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 3rem;

 }
 section.collection div{
   display: grid;
   grid-template-rows:repeat(3,1fr) ;
   row-gap: 25px;
   text-align: center;
   padding: 9rem 28rem;
   height: 37rem;
   width: 115rem;
   background:  linear-gradient(45deg , var(--primary-color) , #3a57d4)  ;
   border-radius: 12px;
   color: #ffffff;
 }
section.collection div h1{
   font-size: 4rem;
   font-weight: 700;
 
}
section.collection div p{
   font-size: 1.8rem;
   font-weight: 400;
   
}
section.collection div button{
   height: 5rem;
   width: 13rem;
   border-radius: 35px;
   border: none;
   margin-top: 4rem;
   margin: 0 auto;
   background-color: var(--primary-color); 
   transition: .5s;
}
section.collection div button:hover{
   margin-top: 0.5rem ;
   box-shadow: 0 0.5rem 1rem #b5aeae2d;
}
section.collection div button a{
   color: #ffffff;
   font-weight: 500;
   font-size: 1.5rem;
   
}


h2.product{
   font-size: 3rem;
   font-weight: 700;
   text-align: center;
}
section.product-card{
   display: grid;
   grid-template-columns: repeat( auto-fill,minmax(250px,1fr));
   gap: 2.8rem;
   align-items: center;
   justify-items: center;
   padding: 4rem 15rem;
   margin-bottom: 7rem;
}

section div.product{
   height: 35rem;
   width: 100%;
   border-radius: 1.5rem;
   background-color: #ffffff; 
   box-shadow: 0.5rem 0.5rem 1rem #b5aeae2d; ;
   overflow: hidden;
   transition: .5s;
   margin-top: 2.5rem;
}
section div.product:hover{
   margin: 1rem 0;
   box-shadow: 3rem 3rem 1rem 0.1rem #b5aeae2d;;

}
section div.product div.img{
   height: 20rem;
   width: 100%;
}
section div.product div.product-details{
   margin: 2rem 1.5rem 1rem;
   font-size: 1.5rem;
   font-weight: 700;
   display: grid;
   grid-template-rows: repeat(3,1fr);
   row-gap: 5px;
}
section div.product div.product-details p{
   color: var(--primary-color);
   font-size: larger;
}
section div.product div.product-details div.btn{
   display: flex;
   justify-content: space-between;
   
}
section div.product div.product-details div.btn button{
   border-radius: 1rem;
   text-align: center;
   height: 3.2rem;
   width: 10rem;
   border: none;
   cursor: pointer;
   transition: .4s;
}
section div.product div.product-details div.btn button:hover{
   background-color: #6c757d;
}
section div.product div.product-details div.btn button.Add{
   background-color: var(--primary-color);
   color: #ffffff;
   transition: .6s;
}
section div.product div.product-details div.btn button.Add:hover{
   background-color: #061a75;
}
footer{
   font-weight: 400;
   padding: 1rem;
   height: 34rem;
   width: 100%;
   font-size: 1.5rem;
   background-color: #303442;

}
footer div.footer-column{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 2rem;
   margin-left: 18rem;
   margin-right: 18rem;
   padding: 3rem 0 2rem;
   color: #ffffff;
   border-bottom: 2px solid #6c757d
}
footer h3{
   margin-bottom: 0.5rem;
}
footer div.footer-column div.icon{
   margin-right: 3rem;
}
footer div.footer-column div.icon ul{
   display: flex;
   gap: 1rem;
}
footer div.footer-column div.icon ul div{
   height: 4rem;
   width: 4rem;
   border-radius: 50%;
   margin: 1rem 0;
   background-color: rgb(255, 255, 255,0.1);
   padding: 0.8rem;
   cursor: pointer;
   transition: .4s;
}
footer div.footer-column div.icon ul div:hover{
   background-color: var(--primary-color);
   margin: 0.2rem 0 ;
}
footer div.footer-column li.li-link{
   transition: .5s;
   cursor: pointer;
}
footer div.footer-column li.li-link:hover{
   color: var(--primary-color);
   margin: 1rem -0.5rem 1rem 0.5rem;


}

 footer div.hr-footer{
    height: 0.2rem;
    width: 2.8rem;
    text-align: center;
    background-color: var(--primary-color);
    margin-bottom: 1rem;
 }
 footer ul li{
   margin-bottom: 1rem;
 }
footer div.footer-column form{
   display: grid;
   grid-template-rows: repeat(2.1fr);
   gap: 1rem;
   margin: 1.5rem 0 3rem ;
}
footer div.footer-column form input{
   height: 5rem;
   padding: 1.2rem;
   border: none;
   border-radius: 1rem;
   
}
footer div.footer-column form button.subscribe{
   height: 3.5rem;
   border: none;
   border-radius: 10rem;
   background-color: var(--primary-color);
   color: #ffffff;
   font-weight: 600;
   cursor: pointer;
   transition: .2s;
}
footer div.footer-column form button.subscribe:hover{
    margin: -0.3rem 0 ;
}

 footer div.copy-right{
   text-align: center;
   margin: 2rem 0 2rem;
   color: #6c757d;
  
 }
 